<%= form_for @confession, html: { multipart: true, class: "col-md-4 col-md-offset-4 center" } do |f| %>
  <% if @confession.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@confession.errors.count, "error") %> prohibited this confession from being saved:</h2>

      <ul>
      <% @confession.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
<!--     <%= f.label :description %><br>
 -->    <%= f.text_area :description, class:"form-control", rows: "8" %>
  </div>



  <div class="actions">
    <%= f.submit %>    
  </div>
<% end %>
