<h1>Listing confessions</h1>


<div id="confessions" class="transitions-enabled">
  <% @confessions.each do |confession| %>
    <div class="box panel panel-default">
      <%= confession.description %>
      <%= link_to 'Show', confession %>
      <% if confession.user == current_user %>
        <%= link_to 'Edit', edit_confession_path(confession) %>
        <%= link_to 'Destroy', confession, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </div>
  <% end %>
</div>


<br>

<%= link_to 'New Confession', new_confession_path %>
