<%= render 'pages/home' unless user_signed_in? %>
<br>

<div class="col-md-2 col-md-offset-5 center">
  <%= link_to new_confession_path , class: "btn btn-success btn-block cborder" do %>
    <i class="fa fa-pencil"> New confession</i>
  <% end %>
</div>
<br>
<br>
<h1 class="center">Recent Confessions</h1>
<div id="confessions" class="transitions-enabled">
	<!-- This loops states one confession box -->
  <% @confessions.each do |confession| %>
    <%= link_to confession do  %>
        <div class="box panel panel-default">
            <div class="panel-body">"
              <%= confession.description %>
              "
            </div>
            <div class="panel-footer">
                 <i class="fa fa-trophy">
                  <%= pluralize confession.reputation_for(:votes).to_i, "vote" %> 
                </i>
            </div>
        </div>
        
    <% end %>
  <% end %>
</div>




<!-- Bootstrap gem pagination -->
<div class="center">
   <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
</div>
