

<p id="notice"><%= notice %></p>
<%= link_to 'Back', confessions_path, class: "btn btn-info" %>

<div class="row">
	<div class="col-md-offset-2 col-md-8">
		<div class="panel panel-default">
			<p>
			  <strong>Description:</strong>
			  <%= @confession.description %>
			</p>
		</div>
	</div>
</div>

<%= link_to 'Back', confessions_path, class: "btn btn-info" %>

<% if @confession.user == current_user %>
	<%= link_to  @confession, method: :delete, class: "btn btn-danger", data: { confirm: 'Are you sure?' } do %>
		<i class="fa fa-trash">Delete</i>
	<% end %>
<% end %>


