

<p id="notice"><%= notice %></p>
<%= link_to 'Back', confessions_path %>

<div class="row">
	<div class="col-md-offset-2 col-md-8">
		<div class="panel panel-default">
			<p>
			  <strong>Description:</strong>
			  <%= @confession.description %>
			</p>
		</div>
	</div>
</div>

<% if @confession.user == current_user %>
	<%= link_to  @confession, method: :delete, data: { confirm: 'Are you sure?' } do %>
		<span class="glyphicon glyphicon-trash"></span>  Delete
	<% end %>
<% end %>
<%= link_to 'Back', confessions_path %>
